body{
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}

#game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tower {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  border: 1px solid black;
  text-align: center;
}

li {
  background-color: green;
  border: 1px solid black;
  text-align: center;
  list-style-type: none;
}

.selected {
  background-color: yellow
}
 #b1 {
   width: 80px;
 }
 #b2 {
   width: 90px;
 }
 #b3 {
   width: 100px;
 }
