@font-face { font-family: PressStart; src: url('fonts/press-start/PressStart2P.ttf'); }

body {
  font-family: PressStart;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: lemonchiffon;
  height: 100vh;
  width: auto;
}

h1 {
  font-family: PressStart;
  text-align: center;
  margin: 100px 0 50px 0;
  font-size: 70px;
  color: yellow;
  text-shadow: 3px 3px magenta, 4px 4px cyan;
}

#underHead {
  display: flex;
  flex-direction: row;
  min-height: 90px;
  margin: 5px;
  justify-content: space-around;
  font-size: 18px;
  flex-wrap: wrap;
}

.topLeft {
  display: flex;
  z-index: 1;
  flex-direction: row;
  align-items: flex-end;
  min-height: 40px;
  margin: 5px;
}

.text {
  margin: 5px 10px;
}

input {
  font-family: PressStart;
  font-size: 18px;
  height: 20px;
  width: 40px;
  border: none;
  border-bottom: 2px solid black;
  background-color: transparent;
  text-align: center;
  margin-right: 5px;

}
button {
  height: 24px;
  width: 100px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: magenta;
  font-family: PressStart;
  font-size: 18px;
  box-shadow: -2px 0 black, 0 2px black, 0 -2px black, 2px 0 black, 3px 3px black;
}


.topRight {
  display: flex;
  z-index: 1;
  background-color: white;
  flex-direction: column;
  height: 50px;
  padding: 10px;
  border: 1px solid black;
  margin: 5px;
  box-shadow: -3px 0 black, 0 3px black, 0 -3px black, 3px 0 black, 10px 10px black;
}

.row {
  display: flex;
  flex-direction: row;
}

#game {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  margin: 0 10px 10px 10px;
}

.tower {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
  text-align: center;
  margin: 0 5px 20px 5px;
}

.towerOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
    text-align: center;
    margin: 0 5px 20px 5px;
    background: linear-gradient(lemonchiffon, lemonchiffon, rgba(250, 0, 250, .2))
}
.base {
  width: 100%;
  height: 15px;
  background-color: darkblue;
  box-shadow: -3px 0 darkblue, 0 3px darkblue, 0 -3px darkblue, 3px 0 darkblue, 7px -6px 0 -1px darkblue;
  flex-shrink: 0;
  margin-top: -1px;
}

.selected {
  background-color: yellow;
  box-shadow: -3px 0 rgb(90, 90, 0), 0 3px rgb(90, 90, 0), 0 -3px rgb(90, 90, 0), 3px 0 rgb(90, 90, 0), 6px 3px 0 -1px rgb(90, 90, 0), 8px 7px 0 -1px rgb(90, 90, 0), 10px 11px 0 -1px rgb(90, 90, 0);
}

.unselected {
  background-color: cyan;
  box-shadow: -3px 0 darkblue, 0 3px darkblue, 0 -3px darkblue, 3px 0 darkblue, 6px 3px 0 -1px darkblue, 8px 7px 0 -1px darkblue, 10px 11px 0 -1px darkblue;
}
 li {
 height: 70px;
 text-align: center;
 list-style-type: none;
}

#win {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  align-self: center;
  z-index: 1;
  height: 50vh;
  width: 50vw;
  background-color: white;
  box-shadow:
  -11px 0 0 -5px white,
  0 11px  0 -5px white,
  0 -11px 0 -5px white,
  11px 0 0 -5px white,
  -6px 0 magenta,
  0 6px magenta,
  0 -6px magenta,
  6px 0 magenta,
  -17px 0 0 -5px yellow,
  0 17px  0 -5px yellow,
  0 -17px 0 -5px yellow,
  17px 0 0 -5px yellow,
  -27px 0 0 -10px magenta,
  0 27px 0 -10px magenta,
  0 -27px 0 -10px magenta,
  27px 0 0 -10px magenta;
}
.invisible {
  position: fixed;
  visibility: hidden;
  z-index: -1;
}
#win h1 {
  font-size: 80px;
}
h3 {
  color: darkblue;
  text-shadow: 2px 2px cyan;
  text-align: center;
}
#instructions {
  position: fixed;
  z-index: 1;
  font-size: 15px;
  background-color: white;
  border: 1px solid black;
  top: -1px;
  left: 10px;
  padding: 20px 0 10px 20px;
  line-height: 26px;
  display: none;
  box-shadow: -2px 0 black, 0 2px black, 0 -2px black, 2px 0 black, 5px 5px black
}
.instructionButton {
  position: fixed;
  z-index: 1;
  padding: 2px;
  background-color: magenta;
  border: 1px solid black;
  top: 0;
  left: 20px;
  box-shadow: -2px 0 black, 0 2px black, 0 -2px black, 2px 0 black, 3px 3px black;
}
#ground {
  position: fixed;
  z-index: -2;
  bottom: -70px;
  align-self: center;
  width: 300vw;
  height: 25vh;
  background: radial-gradient(rgb(112, 84, 16), goldenrod, rgba(255, 255, 0, .7), rgba(255, 255, 0, .7));
  /*background: radial-gradient(yellow, darkmagenta);*/
  border-radius: 50%;
}
#sun {
  position: fixed;
  left: 50%;
  top: 25%;
  background-image: url('img/sun.png');
  background-size: contain;
  height: 30vh;
  width: 30vh;
  z-index: -3;
}
#ray1 {
  position: fixed;
  z-index: -3;
  left: 33%;
  top: 47%;
  background-image: url('img/leftRay.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 28vh;
  width: 28vh;
}
#ray2 {
  position: fixed;
  z-index: -3;
  left: 55%;
  top: 58%;
  background-image: url('img/centerRay.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 16vh;
  width: 16vh;}
#ray3 {
    position: fixed;
    z-index: -3;
    left: 67%;
    top: 50%;
    background-image: url('img/rightRay.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 20vh;
    width: 20vh;
}
#invisible {
  opacity: 0;
}
.cloud1 {
  position: fixed;
  z-index: -1;
  left: 100%;
  top: 25%;
  background-image: url('img/cloud1.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 70vh;
  width: 70vh;
}

.cloud2 {
  position: fixed;
  z-index: -2;
  left: 100%;
  top: 5%;
  background-image: url('img/cloud2.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vh;
}
